* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* الخلفية مع البلور */
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("WhatsApp\ Image\ 2026-02-23\ at\ 8.04.09\ PM.jpeg") no-repeat center center/cover;
    filter: blur(8px);
    z-index: -1;
}

/* الكونتينر */
.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* اللوجو */
.logo {
    width: 150px;
    height: 150px;          /* نخلي العرض والارتفاع متساويين */
    object-fit: cover;      /* يخلي الصورة متتشدش */
    border-radius: 50%;     /* ده اللي بيخليها دائرية */
    margin-bottom: 40px;
    border: 4px solid white;   /* إطار أبيض شيك */
    box-shadow: 0 10px 25px rgba(0,0,0,0.3); /* ظل ناعم */
}

/* اللينكات */
.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* شكل الزرار */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* انيميشن عند المرور */
.btn:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* انيميشن خفيف عند الضغط */
.btn:active {
    transform: scale(0.95);
}

/* ألوان */
.whatsapp {
    background: linear-gradient(45deg, #25D366, #128C7E);
}

.facebook {
    background: linear-gradient(45deg, #1877F2, #0d5fd4);
}

.instagram {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}

/* Responsive */
@media (max-width: 480px) {
    .logo {
        width: 120px;
    }

    .btn {
        font-size: 16px;
        padding: 12px;
    }

}
.location {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
}
